<head>

<div class='dialog'>

</div>

<p>
  <b>Title:</b>
  <%=h @document.title %>
</p>

<p>
  <b>Content:</b>
  <%= textilize(@document.content) %>
</p>


<% @documentversion.reverse.each do |version| %>
  Version <%= version.version %> Updated <%= version.updated_at %>
  <%= link_to '(restore)', 
                 :action => 'revert_to_version', 
                 :version_id => version.id, 
                 :document_id => @document %>
  <%= link_to '(show)', 
                 :action => 'show_version', 
                 :version_id => version.id, 
                 :id => @document %><br />
<% end %>
<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<script type="text/javascript" >

jQuery(function(){
	
	$('.dialog').hide();
	
	$('[num]').mouseenter(function(e){
		$(this).addClass('over');
		return false;
	});

	$('[num]').mouseleave(function(e){
		$(this).removeClass('over');
		return false;
	});
	
	$('[num]').click(function(e){
		
		d_id = <%= @document.id %>;
		n_id = $(this)[0]['id'];
		
		$dialog = $('.dialog:first');
		
		$dialog.empty();
		$("<div class='text'></div>").appendTo($dialog);
		$comment_input = $("<div class='comment-input'></div>");
		$comment_form = $("<form action='/comments'></form>");
		$("<label for='username'>Comment<input name='comment' type='text' /></label>").appendTo($comment_form);
		$("<input name='<%= request_forgery_protection_token.to_s %>' type='hidden' value='<%= form_authenticity_token %>' />").appendTo($comment_form);
		$("<input type='submit' value='Submit Comment' />").appendTo($comment_form);
		$comment_form.appendTo($comment_input);
		$comment_input.appendTo($dialog);
		$("<div class='comments'></div>").appendTo($dialog);
		
		$dialog.find('.text:first').text($(this).text());
		$dialog.find('.comments:first').load("/comments/" + d_id + '?node_id=' + n_id);
		$dialog.dialog();
		
		$form = $dialog.find('form:first');
		$form.submit(function(e){
			e.preventDefault();
			$.post(
				$form.attr('action'), 
				{
					comment_text: $form.find("input[type='text']:first")[0]["value"],
					document_id: d_id, 
					node_id: n_id,
					authenticity_token: $form.find("input[type='hidden']:first")[0]["value"]
				}, 
				function()
				{
					$form[0].reset();
					$dialog.find('.comments:first').load("/comments/" + d_id + '?node_id=' + n_id);
				}
			);
		});
	});
	
});

</script>

