<head>
<p>
  <b>Title:</b>
  <%=h @document.title %>
</p>

<p>
  <b>Content:</b>
  <%= textilize(@document.content) %>
</p>

<script type="text/javascript">
$(document).ready(function(){
	("div[id]").mouseenter(function(){
		$(this).addclass("over");
	});
	("div[id]").mouseleave(function(){
		$(this).removeclass("over");
	}); 
});
</script>

<% @documentversion.reverse.each do |version| %>
  Version <%= version.version %> Updated <%= version.updated_at %>
  <%= link_to '(restore)', 
                 :action => 'revert_to_version', 
                 :version_id => version.id, 
                 :document_id => @document %>
  <%= link_to '(show)', 
                 :action => 'show_version', 
                 :version_id => version.id, 
                 :id => @document %><br />
<% end %>
<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>